# Yankees All-Star Team

## Import packages and create SQL connection

In [72]:
import pandas as pd
from pandas.io import sql
import MySQLdb
import numpy as np
from sqlalchemy import create_engine

In [73]:
db = MySQLdb.connect(host="localhost",    
                     user="root",         
                     passwd="Commercial549!",  
                     db="lahman2016")

# Create dataframes from MySQL tables

### Only keep players that played at least half the season. Would have evaluated players using WAR, but unfortunately, I do not have the required data.

### Batting

In [74]:
query = """
SELECT * 
FROM 
    lahman2016.batting 
WHERE 
    teamid = 'NYA' OR teamid = 'BLA'
HAVING 
g >= 81
"""

batting = sql.read_sql(query, con=db)

In [75]:
bat_cols = batting.columns[5:]

for i in bat_cols:
    batting[i] = batting[i].apply(lambda x: str(x).strip()).replace('', np.nan)
    batting[i].fillna(0, inplace=True)
    batting[i] = batting[i].astype(int)

### Instead of WAR, I 'scored' players based on their OBP, RBI's vs the max RBI's a Yankee has ever hit, and Runs scored vs the max Runs a Yankee has ever scored. It's not perfect, but I think it will give us a good understanding on the most productive Yankees

In [76]:
batting['OBP'] = (batting['H']+batting['HBP']+batting['BB']+batting['IBB'])/\
                 (batting['AB']+batting['HBP']+batting['BB']+batting['IBB']+batting['SF'])
    
batting['Score'] = (batting['OBP']*100)+((batting['RBI']/batting['RBI'].max())*100)+\
                   ((batting['R']/batting['R'].max())*100)

### Fielding

In [77]:
query = """
SELECT * 
FROM 
    lahman2016.fielding 
WHERE 
    teamid = 'NYA' OR teamid = 'BLA'
HAVING
    g >= 81
"""

fielding = sql.read_sql(query, con=db)

In [78]:
field_cols = fielding.columns[6:]

for j in field_cols:
    fielding[j] = fielding[j].apply(lambda x: str(x).strip()).replace('', np.nan)
    fielding[j].fillna(0, inplace=True)
    fielding[j] = fielding[j].astype(int)

In [79]:
fielding['fielding_percentage'] = (fielding['PO']+fielding['A'])/(fielding['PO']+fielding['A']+fielding['E'])

In [80]:
#group fielders so they are not duplicated
fielding = fielding.groupby(['playerID', 'yearID', 'POS']).sum().reset_index()

In [81]:
yankees = pd.merge(fielding, batting, how='left', on=['playerID','yearID'], suffixes=('_fielding','_batting'))

#join tables and fill null values
yankees = yankees[['playerID', 'yearID', 'POS', 'Score', 'fielding_percentage']].fillna(0)

## Create table in SQL. Doing this so I can query my results as I would in SQL

In [82]:
engine = create_engine('mysql://root:Commercial549!@localhost:3306/lahman2016')
yankees.to_sql(name='yankees_scores', con=engine, if_exists='fail', index=False, chunksize=1000)

ValueError: Table 'yankees_scores' already exists.

## Lets select our team

In [ ]:
query = """
SELECT 
    *
FROM
    lahman2016.yankees_scores
WHERE
    pos = '1B'
ORDER BY score DESC , fielding_percentage DESC limit 1,1;"""

sql.read_sql(query, con=db)